*.out
.idea
cmake-build-debug
*.design
work/
*.swp
*.pkl
*build/
*CMakeFiles*
cpp/build
.#*
*.log
bazel/
url/
modal/
config/emacs/#Joseph.org#
config/emacs/#init.el#
config/emacs/Joseph.el
config/emacs/Joseph.html
learn/latex/
learn/tf/tfserv/
